<!DOCTYPE html>
<html>
    <head>
        <title>incon 3d map</title>
    </head>
    <body style="margin: 0px;">
        <div id="viewer"></div>
    </body>
</html>
<script src="js/bundle.js" type="module"></script>